* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .first, .second, .third, .fourth, .footer {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.header {

}

.first {

}

.second {

}

.third {

}

.fourth {

}

.footer {

}

