* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header, .first, .second, .third, .fourth, .footer, ul {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.header {
    background-color: #1F2937;
    padding: 17px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 190px;
}

.first {
    justify-content: center;
    background-color: #1F2937;
    padding-top: 80px;
    padding-left: 210px;
    padding-right: 200px;
    padding-bottom: 125px;
    gap: 160px;
}

.first .one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.second {
    flex-direction: column;
    padding-top: 45px;
    padding-left: 210px;
    padding-right: 200px;
    padding-bottom: 110px;
    gap: 50px;
}

.second .two {
    display: flex;
    justify-content: space-between;
}

.figures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.figures .text {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.third {
    background-color: #e5e7eb;
    justify-content: center;
    flex-direction: column;
    padding-top: 125px;
    padding-left: 350px;
    padding-right: 300px;
    padding-bottom: 100px;
}

.fourth {
    justify-content: center;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.box {
    display: flex;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.box .one {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    justify-content: center;
}

a {
    text-decoration: none;
}
  
ul {
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 175px;
    margin-top: 2.5px;
    gap: 25px;
  }

.img1 {
    width: 400px;
    height: auto;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.one .text, a {
    color: #e5e7eb;
    font-size: 18px;
}

button, .box {
    background-color: #3882f6;
    color: white;
}

button {
    border-radius: 10px;
    margin-top: 10px;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
}

.second .title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.second .text {
    font-size: 18px;
    color: darkgrey ;
}

.img2 {
    width: 200px;
    height: 200px;
}

.img3 {
    width: 200px;
    height: auto;
}

.third .text {
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
}

.signature {
    color: #1F2937;
    font-size: 23px;
    font-weight: bolder;
    align-self: flex-end;
    margin-right: 35px;
}