* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .first, .second, .third, .fourth, .footer, ul {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.header {
    
}

.logo {
    margin-right: auto;
}

.first {

}

.second {

}

.third {

}

.fourth {

}

.footer {

}

a {
    text-decoration: none;
}
  
ul {
    list-style-type: none;
    justify-content: flex-end;
  }